apiVersion: v1
kind: ConfigMap
metadata:
  name: curate-config
data:
  NVCF_MULTI_NODE: "true"
  NODES_PER_INSTANCE: {{ .Values.replicas | quote }}
  HEADLESS_SERVICE_NAME: {{ include "curate-ray.name" . }}-headless
  RAY_GCS_SERVER_PORT: {{ .Values.rayPorts.gcsServerPort | quote }}
  RAY_DASHBOARD_PORT: {{ .Values.rayPorts.dashboardPort | quote }}
  RAY_OBJECT_MANAGER_PORT: {{ .Values.rayPorts.objectManagerPort | quote }}
  RAY_NODE_MANAGER_PORT: {{ .Values.rayPorts.nodeManagerPort | quote }}
  AWS_CONFIG_FILE: {{ .Values.s3.credsPath }}
  NVCF_AWS_PROFILE_PATH: {{ .Values.s3.credsPath  }}
  REQUESTS_CA_BUNDLE: "/etc/ssl/certs/ca-certificates.crt"
  {{- if .Values.modelCacheDir }}
  NVCF_MODEL_CACHE_DIR: {{ .Values.modelCacheDir | quote }}
  {{- end }}
  {{- if .Values.triton.home }}
  TRITON_HOME: {{ .Values.triton.home | quote }}
  {{- end }}
{{- with .Values.customEnvVars }}
{{- toYaml . | nindent 2 }}
{{- end }}
