apiVersion: v1
kind: Service
metadata:
  name: '{{ include "curate-ray.name" . }}-headless'
  labels:
    {{- include "curate-ray.labels" . | nindent 4 }}
spec:
  clusterIP: None  # Set to None to make the service headless
  publishNotReadyAddresses: true
  selector:
    {{- include "curate-ray.selectorLabels" . | nindent 4 }}
  ports:
    - name: health
      port: {{ .Values.health.port }}
      targetPort: {{ .Values.health.port }}
    - name: vllm
      port: {{ .Values.curate.port }}
      targetPort: 8001
    - name: ray-gcs
      port: {{ .Values.rayPorts.gcsServerPort }}
      targetPort: {{ .Values.rayPorts.gcsServerPort }}
    - name: ray-dashboard
      port: {{ .Values.rayPorts.dashboardPort }}
      targetPort: {{ .Values.rayPorts.dashboardPort }}
    - name: ray-object-manager
      port: {{ .Values.rayPorts.objectManagerPort }}
      targetPort: {{ .Values.rayPorts.objectManagerPort }}
    - name: ray-node-manager
      port: {{ .Values.rayPorts.nodeManagerPort }}
      targetPort: {{ .Values.rayPorts.nodeManagerPort }}
---
apiVersion: v1
kind: Service
metadata:
  name: '{{ .Values.helmChartServiceName }}'
  labels:
    {{- include "curate-ray.labels" . | nindent 4 }}
    servicemonitor-target: "true"
spec:
  type: {{ .Values.service.type | default "ClusterIP" }}
  selector:
    apps.kubernetes.io/pod-index: "0"
    {{- include "curate-ray.selectorLabels" . | nindent 4 }}
  ports:
    - name: health
      port: {{ .Values.health.port }} # Health server port
      targetPort: {{ .Values.health.port }}
    - name: vllm
      port: {{ .Values.curate.port }} # vLLM server port
      targetPort: {{ .Values.curate.port }}
    - name: ray-gcs
      port: {{ .Values.rayPorts.gcsServerPort }}
      targetPort: {{ .Values.rayPorts.gcsServerPort }}
    - name: ray-dashboard
      port: {{ .Values.rayPorts.dashboardPort }}
      targetPort: {{ .Values.rayPorts.dashboardPort }}
    - name: ray-object-manager
      port: {{ .Values.rayPorts.objectManagerPort }}
      targetPort: {{ .Values.rayPorts.objectManagerPort }}
    - name: ray-node-manager
      port: {{ .Values.rayPorts.nodeManagerPort }}
      targetPort: {{ .Values.rayPorts.nodeManagerPort }}
    - name: metrics
      port: {{ .Values.metrics.port }}
      targetPort: {{ .Values.metrics.port }}
