__pycache__/
dist
build
trace.log

*.swp
*.egg-info
.mypy_cache
.ruff_cache

*.sqsh

/.idea/
/.vscode/
**/client.key
**/client.crt
**/charts/*.tgz
# pixi environments
.pixi

/cosmos-curate-*.tgz
/run-all.sh
