# A conda environment for text curation tasks using NeMo-Curator
RUN {{cache_mount_str}} micromamba install -c conda-forge -c nvidia -c rapidsai -y cudf=25.4.0 ipython

RUN {{cache_mount_str}} pip install --extra-index-url https://pypi.nvidia.com \
    "NeMo-Curator[cuda12x,s3,azure] @ git+https://github.com/NVIDIA/NeMo-Curator.git@060d702d0e5289abb1e94a92f9b8296b36c04fb7" \
    && rm -rf /root/.cache/pip

RUN {{cache_mount_str}} pip install --upgrade protobuf==4.25.8 && rm -rf /root/.cache/pip

RUN {{cache_mount_str}} pip install \
    av \
    cattrs \
    easydict \
    loguru \
    pulp \
    tabulate \
    webdataset \
    {{core_cosmos_curator_deps_string}} \
    && rm -rf /root/.cache/pip
