{{ with secretPath (env "VAULT_KRATOS_METRICS_SECRET_PATH") }}
export PERF_KRATOS_METRICS_TOKEN='{{ .Data.client_id }}:{{ .Data.secret }}'
{{ end }}

{{ with pkiCert (env "VAULT_KRATOS_METRICS_CA_PATH")  (printf "common_name=%s" (env "VAULT_KRATOS_METRICS_CERT_COMMON_NAME")) "ttl=7d" }}
export HELM_BYO_METRICS_RECEIVER_CLIENT_CRT_BASE64=$(echo "{{ .Cert }}
{{ range .CAChain }}{{ . }}
{{ end }}" | base64 -w0)
export HELM_BYO_METRICS_RECEIVER_CLIENT_KEY_BASE64="{{ .Key | base64Encode}}"
{{ end }}

{{ with secretPath (env "VAULT_S3_CREDS_SECRET_PATH") }}
export AWS_CONFIG_FILE_CONTENTS='{{ .Data.data.AWS_CONFIG_FILE_CONTENTS }}'
export PERF_AWS_ACCESS_KEY_ID=$(echo -n "$AWS_CONFIG_FILE_CONTENTS" | base64 -d | grep '^aws_access_key_id=' | cut -d= -f2-)
export PERF_AWS_SECRET_ACCESS_KEY=$(echo -n "$AWS_CONFIG_FILE_CONTENTS" | base64 -d | grep '^aws_secret_access_key=' | cut -d= -f2-)
{{ end }}

{{ with secretPath (printf "%s/artifactory" (env "VAULT_CICD_SECRETS_PATH")) }}
export ARTIFACTORY_TOKEN='{{ .Data.data.token }}'
export ARTIFACTORY_USER='{{ .Data.data.user }}'
{{ end }}


{{ with secretPath  (printf "%s/nvcf/dev" (env "VAULT_CICD_SECRETS_PATH")) }}
export NVCF_KEY='{{ .Data.data.API_KEY }}'
{{ end }}

{{ with secretPath  (printf "%s/nvcf/perf" (env "VAULT_CICD_SECRETS_PATH")) }}
export PERF_NGC_NVCF_API_KEY='{{ .Data.data.API_KEY }}'
{{ end }}


{{ with secretPath  (printf "%s/nvcr/dev" (env "VAULT_CICD_SECRETS_PATH")) }}
export NGC_REGISTRY_KEY='{{ .Data.data.API_KEY }}'
{{ end }}

{{ with secretPath  (printf "%s/nvcr/perf" (env "VAULT_CICD_SECRETS_PATH")) }}
export PERF_REGISTRY_KEY='{{ .Data.data.API_KEY }}'
{{ end }}
