{{ with secretPath (env "VAULT_KRATOS_METRICS_SECRET_PATH") }}
export PERF_KRATOS_METRICS_TOKEN='{{ .Data.client_id }}:{{ .Data.secret }}'
{{ end }}

{{ with pkiCert (env "VAULT_KRATOS_METRICS_CA_PATH")  (printf "common_name=%s" (env "VAULT_KRATOS_METRICS_CERT_COMMON_NAME")) "ttl=7d" }}
export HELM_BYO_METRICS_RECEIVER_CLIENT_CRT_BASE64=$(echo "{{ .Cert }}
{{ range .CAChain }}{{ . }}
{{ end }}" | base64 -w0)
export HELM_BYO_METRICS_RECEIVER_CLIENT_KEY_BASE64="{{ .Key | base64Encode}}"
{{ end }}

{{ with secretPath (env "VAULT_S3_CREDS_SECRET_PATH") }}
export AWS_CONFIG_FILE_CONTENTS='{{ .Data.data.AWS_CONFIG_FILE_CONTENTS }}'
{{ end }}

{{ with secretPath (env "VAULT_ARTIFACTORY_SECRET_PATH") }}
export ARTIFACTORY_TOKEN='{{ .Data.data.token }}'
export ARTIFACTORY_USER='{{ .Data.data.user }}'
{{ end }}
