pid_file = "./vault-agent.pid"

vault {
   address = "${env:VAULT_ADDR}"    # read vault addr from env vars
   retry {
    num_retries = 3
  }
}

auto_auth {

  method {
    type = "jwt"
    namespace = "${env:VAULT_NAMESPACE}"  # read vault namespace from env vars
    mount_path = "${env:VAULT_MOUNT_PATH}"  # mount location of the jwt mount created

    config = {
       token = "${env:VAULT_JWT_TOKEN}"  # read gitlab ci injected JWT token from env vars
       role = "${env:VAULT_ROLE}"  # vault role to authenticate with
    }
  }

  exit_after_auth_failure = true  # exit agent w/ status code = 1 if role cannot be used
  exit_after_auth_retry_duration = "30s"  # if vault is unreachable retry for 30s then exit if still offline
}

# template with source hcl file written to local dir
template {
  source      = "./vault-ci/ci-secrets.tmpl"
  destination = "./ci_secrets.env"  # relative to the path that vault agent was launched in
  perms       = "600"

  # Exit agent with an error when accessing template
  error_on_missing_key = true
}
