# A conda environment for Phi-4.
#
# Phi-4 requires these specific versions of the packages. The unified environment
# is not compatible with Phi-4.

RUN {{cache_mount_str}} <<EOF
set -euxo pipefail

# Make security scanning happy.
# Note: pytorch 2.7.0 on conda-forge is pinned to setuptools 75.8.2.
# It's fixed in pytorch 2.7.1. We can remove this hack once we upgrade vllm which upgrades pytorch.
pip install --no-cache-dir --no-deps --force-reinstall setuptools==80.9.0

# It's unclear why torch needs to be installed separately for this to work.
pip install "torch==2.6.0" && \
pip install \
  "flash_attn==2.7.4.post1" \
  "transformers==4.48.2" \
  "accelerate==1.3.0" \
  "pillow==11.1.0" \
  "scipy==1.15.2" \
  "torchvision==0.21.0" \
  "backoff==2.2.1" \
  "peft==0.13.2" \
  loguru\
  "pynvml==11.5.3" \
  nvtx \
  cattrs\
  av\
 {{core_cosmos_curator_deps_string}}

# cleanup
micromamba clean --all --yes
rm -rf /root/.cache/pip
EOF
