RUN {{cache_mount_str}} pip install \
                            cattrs \
                            huggingface_hub \
                            loguru \
                            pynvml \
                            scipy \
                            tabulate \
                            {{core_cosmos_curator_deps_string}}
