astral
attrs
av
boto3
cattrs
easydict
fastapi
gpustat
huggingface_hub
jinja2
loguru
nvtx
Pillow
prometheus_client==0.21.1
psutil==7.0.0
psycopg2-binary
pulp>=3.1.1
pyarrow
pynvml==11.5.3
pyproj
pytest
pytest-xdist
pytest-asyncio
pytest-cov
requests==2.32.3
scikit-image
scipy
setuptools>=80.7.1
sqlalchemy
tabulate
tenacity
timezonefinder==6.5.9
toml
torch==2.7.0
tqdm
transformers==4.51.1
typer[all]
uvicorn
webdataset
